.sidebar {
    background-color: #ffffff;
    height: 100vh;
    padding: 0;
    width: 17.77777777777778%;

    &-logo {
        margin-top: 20px;
        margin-left: 17px;
    }

    .menu-close {
        position: absolute;
        right: 20px;
        top: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    .list-group {
        margin-top: 11px;
    }

    .list-group-item {
        display: flex;
        align-items: center;
        padding-top: 0.93rem;
        padding-bottom: 0.93rem;
        padding-left: 25px;
        padding-right: 0;
        border: none;

        img {
            margin-right: 20px;
        }

        &.active {
            background-color: transparent;
            color: #343434;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0px;
                width: 4px;
                height: 100%;
                background-color: #6666CC;
                box-shadow: 0px 2px 10px #6666CC;
            }
        }
    }
}